In [1]:
import pandas as pd

df = pd.read_csv('output.csv')

In [2]:
# Checking Age distribution
age_grouping_with_sex = df.groupby(['age', 'sex']).count()['ind']
age_grouping_with_sex = age_grouping_with_sex.unstack()

expected_df = pd.read_csv('workers.csv', index_col='Age_Group')
expected_df = expected_df.drop('Age not stated')

# display(age_grouping_with_sex['M'])

error_female_ages = (age_grouping_with_sex['F'] - expected_df['Total_Females'])/expected_df['Total_Females']
display(error_female_ages * 100)

error_male_ages = (age_grouping_with_sex['M'] - expected_df['Total_Males'])/expected_df['Total_Males']
display(error_male_ages * 100)

00-04   -0.071746
05-09    0.181963
10-14   -0.275963
15-19    0.561783
20-24    1.065081
25-29    0.577847
30-34    0.741113
35-39    1.294358
40-49    0.532865
50-59    0.403192
60-69   -0.111327
70-79    0.006545
80+      0.155585
Total         NaN
dtype: float64

00-04    0.236320
05-09   -0.074453
10-14   -0.277040
15-19   -0.297562
20-24    0.709839
25-29    0.874557
30-34    0.966470
35-39    1.130749
40-49    0.976464
50-59    0.897862
60-69    0.620096
70-79   -1.201058
80+     -0.017395
Total         NaN
dtype: float64

In [3]:
working_age_sex = df.groupby(['age', 'working', 'sex'])
working_age_sex = working_age_sex.count()['ind'].unstack().unstack()

display(working_age_sex)

expected_df = pd.read_csv('workers.csv', index_col='Age_Group').drop('Total').drop('Age not stated')

display(expected_df)

male_workers_err = (working_age_sex["M"][True] - expected_df['Main_Working_Males']) / expected_df['Main_Working_Males']

female_workers_err = (working_age_sex["F"][True] - expected_df['Main_Working_Females']) / expected_df['Main_Working_Females']

display(male_workers_err * 100)
display(female_workers_err * 100)

sex             F                  M
working     False    True      False     True
age
00-04     90533.0      NaN   98828.0       NaN
05-09     98623.0   1029.0  107177.0    1535.0
10-14    106227.0   1822.0  117131.0    4895.0
15-19    108458.0   7179.0  112396.0   37713.0
20-24    108485.0  29010.0   75528.0  123951.0
25-29     99301.0  39944.0   31031.0  157325.0
30-34     87814.0  32350.0   16620.0  138517.0
35-39     83446.0  30733.0   12701.0  127089.0
40-49    140389.0  49219.0   21169.0  202094.0
50-59    102226.0  29257.0   28731.0  126235.0
60-69     77868.0   9166.0   47319.0   40142.0
70-79     42973.0   2864.0   28118.0   11120.0
80+       20634.0   1253.0   12351.0    4892.0

,Total_Pop,Total_Males,Total_Females,Main_Working_Pop,Main_Working_Males,Main_Working_Females,Marginal_3m_Working_Pop,Marginal_3m_Working_Males,Marginal_3m_Working_Females,Marginal_6m_Working_Pop,Marginal_6m_Working_Males,Marginal_6m_Working_Females,Non_Working_Pop,Non_Working_Males,Non_Working_Females
Age_Group,,,,,,,,,,,,,,,
00-04,189193,98595,90598,0,0,0,0,0,0,0,0,0,189193,98595,90598
05-09,208264,108793,99471,2635,1558,1077,77,45,32,2008,1026,982,203544,106164,97380
10-14,230713,122365,108348,6635,4813,1822,198,122,76,2717,1441,1276,221163,115989,105174
15-19,265548,150557,114991,45124,37878,7246,1025,738,287,5672,3623,2049,213727,108318,105409
20-24,334119,198073,136046,151970,123336,28634,2406,1653,753,10412,6761,3651,169331,66323,103008
25-29,325168,186723,138445,195941,156636,39305,1848,1228,620,9309,5875,3434,118070,22984,95086
30-34,272932,153652,119280,170064,137533,32531,1265,806,459,7119,4398,2721,94484,10915,83569
35-39,250947,138227,112720,156427,126073,30354,1077,643,434,6043,3497,2546,87400,8014,79386
40-49,409707,221104,188603,250072,200750,49322,1671,975,696,9230,5239,3991,148734,14140,134594
50-59,284542,153587,130955,154532,125403,29129,980,629,351,5666,3220,2446,123364,24335,99029
60-69,174053,86922,87131,49048,39940,9108,533,339,194,3069,1729,1340,121403,44914,76489
70-79,85549,39715,45834,14062,11238,2824,191,118,73,1307,682,625,69989,27677,42312
80+,39099,17246,21853,6191,4920,1271,76,49,27,615,325,290,32217,11952,20265

age
00-04         NaN
05-09   -1.476252
10-14    1.703719
15-19   -0.435609
20-24    0.498638
25-29    0.439873
30-34    0.715465
35-39    0.805882
40-49    0.669489
50-59    0.663461
60-69    0.505759
70-79   -1.050009
80+     -0.569106
dtype: float64

age
00-04         NaN
05-09   -4.456825
10-14    0.000000
15-19   -0.924648
20-24    1.313124
25-29    1.625747
30-34   -0.556392
35-39    1.248600
40-49   -0.208832
50-59    0.439425
60-69    0.636803
70-79    1.416431
80+     -1.416208
dtype: float64

In [4]:
total_uses_pub_transport = df.groupby('pub_transport').count()["ind"][True]
total_working = df.groupby('working').count()["ind"][True]
total_uses_pub_transport / total_working

0.2002482358058237